In [3]:
2 in [1,2,3,4]

True

In [2]:
5 in [1,2,3,4]

False

In [4]:
"S" in "Sezin"

True

In [6]:
liste = [1,2,3,4,5]
for Eleman in liste :
    print("Eleman = ",Eleman)

Eleman =  1
Eleman =  2
Eleman =  3
Eleman =  4
Eleman =  5

In [11]:
toplam = 0
liste = [1,2,3,4,5]

for eleman in liste :
    toplam += eleman

print(toplam)

15

In [12]:
liste = [1,2,3,4,5]

for eleman in liste :
    if eleman % 2 == 0 :
        print("Eleman Cift = ",eleman)

Eleman Cift =  2
Eleman Cift =  4

In [13]:
s = "Sezin"

for karakter in s :
    print (karakter)

S
e
z
i
n

In [14]:
liste = [(1,2),(3,4),(5,6)]

for eleman in liste:
    print(eleman)

(1, 2)
(3, 4)
(5, 6)

In [15]:
for (i,j) in liste :
    print("i : {} j : {}".format(i,j))

i : 1 j : 2
i : 3 j : 4
i : 5 j : 6

In [19]:
sozluk = {"bir":1,"iki":2,"uc":3}

for eleman in sozluk.values():
    print(eleman)

for eleman in sozluk.items():
    print(eleman)

for eleman in sozluk.values():
    print(eleman)

1
2
3
('bir', 1)
('iki', 2)
('uc', 3)

In [20]:
i = 0
while (i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [26]:
liste = [1,2,3,4,5]
i = 0
while (i < len(liste)):
    print("index : {} deger : {}".format(i,liste[i]))
    i+=1

index : 0 deger : 1
index : 1 deger : 2
index : 2 deger : 3
index : 3 deger : 4
index : 4 deger : 5

In [28]:
range (0,10)
print(*range(0,10))

0 1 2 3 4 5 6 7 8 9

In [30]:
range (0,50)
print(*range(0,50,3))

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48

In [33]:
for i in range(10):
    print("* " *i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [34]:
while True:
    isim = input("İsminiz(Cikmak için q tusuna basin.):")
    if (isim == "q"): # break ile tabii ki.
        print("Cikis Yapiliyor...")
        break
    print(isim)

r
r
t
1
Cikis Yapiliyor...

In [35]:
liste = [1,2,3,4,5,6,7,8,9] 


for i in liste:
    if (i == 3 or i == 5):
        continue
    print("i:",i)

i: 1
i: 2
i: 4
i: 6
i: 7
i: 8
i: 9

In [36]:
liste1 = [1,2,3,4,5]
liste2 = list()

for i in liste1:
    liste2.append(i)
print(liste2)

[1, 2, 3, 4, 5]

In [37]:
liste3 = [1,2,3,4,5,6]
liste4 = [i for i in liste3]
print(liste4)

[1, 2, 3, 4, 5, 6]

In [38]:
liste5 = [5,10,15]
liste6 = [i*3 for i in liste5 ]

print(liste6)

[15, 30, 45]

In [40]:
liste = [(1,2),(3,4),(5,6)]

liste1 = [i*j for i,j in liste]
print(liste1)

[2, 12, 30]

In [41]:
s = "Sezin"

liste1 = [i*3 for i in s]
print(liste1)

['SSS', 'eee', 'zzz', 'iii', 'nnn']

In [42]:
liste = [(1,2,3,4),(5,6,7),(8,9,0)]
liste1 = [x for i in liste for x in i]
print(liste1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]